################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CPPTest1/v15/.suo
/.vs/CPPTest1/v15/ipch/AutoPCH/eb812ccad9d1d803/CPPTEST1.ipch
/.vs/CPPTest1/v15/Browse.VC.opendb
/.vs/CPPTest1/v15/Browse.VC.db
/x64/Debug/CPPTest1.pdb
/x64/Debug/CPPTest1.ilk
/x64/Debug/CPPTest1.exe
/CPPTest1/x64/Debug/vc141.pdb
/CPPTest1/x64/Debug/vc141.idb
/CPPTest1/x64/Debug/CPPTest1.tlog/link.write.1.tlog
/CPPTest1/x64/Debug/CPPTest1.tlog/link.read.1.tlog
/CPPTest1/x64/Debug/CPPTest1.tlog/link.command.1.tlog
/CPPTest1/x64/Debug/CPPTest1.tlog/CPPTest1.lastbuildstate
/CPPTest1/x64/Debug/CPPTest1.tlog/CL.write.1.tlog
/CPPTest1/x64/Debug/CPPTest1.tlog/CL.read.1.tlog
/CPPTest1/x64/Debug/CPPTest1.tlog/CL.command.1.tlog
/CPPTest1/x64/Debug/CPPTest1.obj
/CPPTest1/x64/Debug/CPPTest1.log
